<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleFilterPractice</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mcmaster.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SuccessFilter</display-name>
    <filter-name>SuccessFilter</filter-name>
    <filter-class>com.mcmaster.filter.SuccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SuccessFilter</filter-name>
    <url-pattern>/loginSuccess/success.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookAddServlet</display-name>
    <servlet-name>BookAddServlet</servlet-name>
    <servlet-class>com.mcmaster.web.BookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAddServlet</servlet-name>
    <url-pattern>/book_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteServlet</display-name>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>com.mcmaster.web.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/book_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdateServlet</display-name>
    <servlet-name>BookUpdateServlet</servlet-name>
    <servlet-class>com.mcmaster.web.BookUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateServlet</servlet-name>
    <url-pattern>/book_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchServlet</display-name>
    <servlet-name>BookSearchServlet</servlet-name>
    <servlet-class>com.mcmaster.web.BookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchServlet</servlet-name>
    <url-pattern>/book_search</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PrivilegeFilter</display-name>
    <filter-name>PrivilegeFilter</filter-name>
    <filter-class>com.mcmaster.filter.PrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivilegeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>